[submodule "PulseRain_rtl_lib"]
	path = PulseRain_rtl_lib
	url = https://github.com/PulseRain/PulseRain_rtl_lib.git
	branch = 0.1
[submodule "ssbbs"]
	path = ssbbs
	url = https://github.com/PulseRain/PulseRain_rtl_lib.git
[submodule "ssbbsu"]
	path = ssbbsu
	url = https://github.com/PulseRain/PulseRain_rtl_lib.git
